<!DOCTYPE html>
<html ng-app="scotchTodo">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-controller="mainController">
    
    <div id="todo-list">
        <div ng-repeat="todo in todos">
            <label>
                {{todo.text}}
            </label>
            <button ng-click="deleteTodo(todo._id)">Delete task</button>
        </div>
    </div>
    
    <div id="todo-form">
        <form>
            <input type="text" ng-model="formData.text">
            <button type="submit" ng-click="createTodo()">Add</button>
        </form>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="core.js"></script>
</body>
</html>